
.body {
    font-family: 'Montserrat', sans-serif;
    margin: 0 auto;
    width: 1280px;

}

/*nav-styles*/
.href {
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    align-items: center;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    color: #FF0000;
}

.list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 620px;
    margin: 0 auto;
}

.nav-list li {
    list-style: none;
    margin-bottom: 25px;
    margin-top: 25px;
}

/*main style*/
.image {
    width: 1280px;
    height: 789px;
    left: 0;
    top: 78px;
}
.main-content {
    display: block;
    align-items: center;
}
.main-title {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    display: flex;
    justify-content: space-around;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    color: #373737;
}

.first-paragraph, .second-paragraph {
    font-style: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.4px;
    color: #373737;
}
.button {
    background: #FF0000;
    border-radius: 4px;
    border-color: red;
    width: 191px;
    height: 51px;
}
.button-container {
    display: flex;
    justify-content: space-around;
    margin-top: 84px;
}
.button-text {
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.footer-text {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    justify-content: flex-end;
    letter-spacing: 2.4px;
    color: #373737;
    margin-top: 82px;
}

